.header {
	height: 100%;
	margin: 0 30px 0 30px;
	background-color: var(--mantine-color-body);
}

.inner {
	height: 56px;
	display: flex;
	justify-content: space-between;
	justify-items: stretch;
	align-items: center;
}

.link {
	display: block;
	line-height: 1;
	padding: 8px 12px;
	border-radius: var(--mantine-radius-sm);
	text-decoration: none;
	color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
	font-size: var(--mantine-font-size-sm);
	font-weight: 500;

	&:hover {
		background-color: light-dark(
			var(--mantine-color-gray-0),
			var(--mantine-color-dark-6)
		);
	}

	[data-mantine-color-scheme] &[data-active] {
		background-color: var(--mantine-color-blue-filled);
		color: var(--mantine-color-white);
	}
}
