.header {
	height: 100%;
	margin: 0 30px 0 30px;
	background-color: var(--mantine-color-body);
}

.inner {
	height: 56px;
	display: flex;
	justify-content: space-between;
	justify-items: stretch;
	align-items: center;
}
